<!doctype html>
<html>
   <head>
   <title>Index page </title>
   <style>
      .buttonst{
        height:50px;
        width:50px;
      }
      .starter{
        float: width
      }
   </style>
   </head>
   <body>
      {% if inpu %}
      <h1> {{ inpu }} </h1>
      {% else %}
      <h1> 0 </h1>
      {% endif %}
      <Form method="POST">
         <button class="buttonst" type="submit" name="bt" value="1">1</button>
         <button class="buttonst" type="submit" name="bt" value="2">2</button>
         <button class="buttonst" type="submit" name="bt" value="3">3</button>
         <button class="buttonst" type="submit" name="bt" value="C">C</button>
         <br>
         <button class="buttonst" type="submit" name="bt" value="4">4</button>
         <button class="buttonst" type="submit" name="bt" value="5">5</button>
         <button class="buttonst" type="submit" name="bt" value="6">6</button>
         <button class="buttonst" type="submit" name="bt" value="+">+</button>
         <br>
         <button class="buttonst" type="submit" name="bt" value="7">7</button>
         <button class="buttonst" type="submit" name="bt" value="8">8</button>
         <button class="buttonst" type="submit" name="bt" value="9">9</button>
         <button class="buttonst" type="submit" name="bt" value="-">-</button>
         <br>
         <button class="buttonst" type="submit" name="bt" value="0">0</button>
         <button class="buttonst" type="submit" name="bt" value="*">*</button>
         <button class="buttonst" type="submit" name="bt" value="/">/</button>
         <button class="buttonst" type="submit" name="bt" value="=">=</button>
         <br>
         <button class="buttonst" type="submit" name="bt" value="(">(</button>
         <button class="buttonst" type="submit" name="bt" value=")">)</button>
         <button class="buttonst" type="submit" name="bt" value="sin(">sin</button>
         <button class="buttonst" type="submit" name="bt" value="tan(">tan</button>
         <br>
         <button class="buttonst" type="submit" name="bt" value="cos(">cos</button>
         <button class="buttonst" type="submit" name="bt" value="log(">log</button>
         <button class="buttonst" type="submit" name="bt" value="sqrt(">sqrt</button>
         <button class="buttonst" type="submit" name="bt" value="CE">CE</button>
         <br>
         <button class="buttonst" type="submit" name="bt" value="<"><</button>
         <button class="buttonst" type="submit" name="bt" value=">">></button>
      </Form>
   </body>
</html>
